/dts-v1/;
/plugin/;
&fpga{
	firmware-name = "vek280_pl_bram_uart_gpio_pld.pdi";
};
&amba{
	axi_bram_ctrl_0: axi_bram_ctrl@20100000000 {
		xlnx,protocol = "AXI4";
		xlnx,edk-special = "BRAM_CTRL";
		compatible = "xlnx,axi-bram-ctrl-4.1";
		xlnx,ecc-onoff-reset-value = <0x0>;
		xlnx,ecc-type = <0x0>;
		xlnx,rd-cmd-optimization = <0x0>;
		xlnx,memory-depth = <0x800>;
		xlnx,use-ecc = <0x0>;
		xlnx,rable = <0x0>;
		xlnx,fault-inject = <0x0>;
		xlnx,ip-name = "axi_bram_ctrl";
		reg = <0x201 0x0 0x0 0x2000>;
		xlnx,bmg-instance = "EXTERNAL";
		clocks = <&versal_clk 0x41>;
		xlnx,s-axi-ctrl-addr-width = <0x20>;
		xlnx,read-latency = <0x1>;
		xlnx,s-axi-supports-narrow-burst = <0x0>;
		xlnx,id-width = <0x0>;
		xlnx,supports-narrow-burst = <0x0>;
		xlnx,single-port-bram = <0x1>;
		xlnx,ecc = <0x0>;
		xlnx,edk-iptype = "PERIPHERAL";
		status = "okay";
		clock-names = "s_axi_aclk";
		xlnx,bram-addr-width = <0xb>;
		xlnx,bram-inst-mode = "EXTERNAL";
		xlnx,data-width = <0x20>;
		xlnx,s-axi-ctrl-data-width = <0x20>;
		xlnx,s-axi-id-width = <0x1>;
		xlnx,mem-depth = <0x800>;
		xlnx,name = "axi_bram_ctrl_0";
	};
	axi_gpio_dip_sw: axi_gpio@20100020000 {
		#interrupt-cells = <0x2>;
		interrupts = <0x0 0x55 0x4>;
		xlnx,gpio-board-interface = "gpio_dp";
		compatible = "xlnx,axi-gpio-2.0", "xlnx,xps-gpio-1.00.a";
		xlnx,all-outputs = <0x0>;
		#gpio-cells = <0x2>;
		xlnx,gpio-width = <0x4>;
		interrupt-parent = <&gic_a72>;
		xlnx,rable = <0x0>;
		xlnx,dout-default = <0x0>;
		xlnx,is-dual = <0x0>;
		xlnx,ip-name = "axi_gpio";
		xlnx,tri-default-2 = <0xffffffff>;
		reg = <0x201 0x20000 0x0 0x10000>;
		xlnx,all-inputs-2 = <0x0>;
		clocks = <&versal_clk 0x41>;
		xlnx,all-outputs-2 = <0x0>;
		gpio-controller;
		xlnx,interrupt-present = <0x1>;
		xlnx,gpio2-board-interface = "Custom";
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,dout-default-2 = <0x0>;
		xlnx,gpio2-width = <0x20>;
		status = "okay";
		clock-names = "s_axi_aclk";
		xlnx,use-board-flow;
		interrupt-controller;
		interrupt-names = "ip2intc_irpt";
		xlnx,tri-default = <0xffffffff>;
		xlnx,name = "axi_gpio_dip_sw";
		xlnx,all-inputs = <0x1>;
	};
	axi_gpio_leds: axi_gpio@20100040000 {
		xlnx,gpio-board-interface = "gpio_led";
		compatible = "xlnx,axi-gpio-2.0", "xlnx,xps-gpio-1.00.a";
		xlnx,all-outputs = <0x1>;
		#gpio-cells = <0x2>;
		xlnx,gpio-width = <0x4>;
		xlnx,rable = <0x0>;
		xlnx,dout-default = <0x0>;
		xlnx,is-dual = <0x0>;
		xlnx,ip-name = "axi_gpio";
		xlnx,tri-default-2 = <0xffffffff>;
		reg = <0x201 0x40000 0x0 0x10000>;
		xlnx,all-inputs-2 = <0x0>;
		clocks = <&versal_clk 0x41>;
		xlnx,all-outputs-2 = <0x0>;
		gpio-controller;
		xlnx,interrupt-present = <0x0>;
		xlnx,gpio2-board-interface = "Custom";
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,dout-default-2 = <0x0>;
		xlnx,gpio2-width = <0x20>;
		status = "okay";
		clock-names = "s_axi_aclk";
		xlnx,use-board-flow;
		xlnx,tri-default = <0xffffffff>;
		xlnx,name = "axi_gpio_leds";
		xlnx,all-inputs = <0x0>;
	};
	axi_gpio_pb_sw: axi_gpio@20100030000 {
		#interrupt-cells = <0x2>;
		interrupts = <0x0 0x56 0x4>;
		xlnx,gpio-board-interface = "gpio_pb";
		compatible = "xlnx,axi-gpio-2.0", "xlnx,xps-gpio-1.00.a";
		xlnx,all-outputs = <0x0>;
		#gpio-cells = <0x2>;
		xlnx,gpio-width = <0x2>;
		interrupt-parent = <&gic_a72>;
		xlnx,rable = <0x0>;
		xlnx,dout-default = <0x0>;
		xlnx,is-dual = <0x0>;
		xlnx,ip-name = "axi_gpio";
		xlnx,tri-default-2 = <0xffffffff>;
		reg = <0x201 0x30000 0x0 0x10000>;
		xlnx,all-inputs-2 = <0x0>;
		clocks = <&versal_clk 0x41>;
		xlnx,all-outputs-2 = <0x0>;
		gpio-controller;
		xlnx,interrupt-present = <0x1>;
		xlnx,gpio2-board-interface = "Custom";
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,dout-default-2 = <0x0>;
		xlnx,gpio2-width = <0x20>;
		status = "okay";
		clock-names = "s_axi_aclk";
		xlnx,use-board-flow;
		interrupt-controller;
		interrupt-names = "ip2intc_irpt";
		xlnx,tri-default = <0xffffffff>;
		xlnx,name = "axi_gpio_pb_sw";
		xlnx,all-inputs = <0x1>;
	};
	axi_uartlite_0: axi_uartlite@20100010000 {
		interrupts = <0x0 0x54 0x1>;
		compatible = "xlnx,axi-uartlite-2.0", "xlnx,xps-uartlite-1.00.a";
		xlnx,uartlite-board-interface = "uart1_bank401";
		xlnx,s-axi-aclk-freq-hz-d = <0x13de4210>;
		interrupt-parent = <&gic_a72>;
		xlnx,rable = <0x0>;
		xlnx,ip-name = "axi_uartlite";
		reg = <0x201 0x10000 0x0 0x10000>;
		xlnx,baudrate = <0x1c200>;
		clocks = <&versal_clk 0x41>;
		current-speed = <0x1c200>;
		xlnx,use-parity = <0x0>;
		xlnx,edk-iptype = "PERIPHERAL";
		xlnx,odd-parity = <0x0>;
		status = "okay";
		clock-names = "s_axi_aclk";
		xlnx,use-board-flow;
		interrupt-names = "interrupt";
		xlnx,name = "axi_uartlite_0";
		xlnx,data-bits = <0x8>;
		xlnx,parity = "No_Parity";
	};
};