/dts-v1/;
/ {
        board = "scu200";
        compatible = "xlnx,scu200-riscv", "qemu,mbv", "amd,mbv";
        device_id = "xcsu200p";
        #address-cells = <0x2>;
        variant = "spartanuplus", "spartanuplusaes1";
        model = "SCU200 AMD Microblaze RISCV 64bit";
        #size-cells = <0x2>;
        slrcount = <0x1>;
        family = "microblaze_riscv";
        speed_grade = "2";

        cpus_microblaze_riscv_0: cpus {
                phandle = <0x24>;
                #cpu-mask-cells = <0x1>;
                compatible = "cpus,cluster";
                #address-cells = <0x1>;
                #size-cells = <0x0>;
                timebase-frequency = <0x5f5e100>;
                bootph-all;
                #ranges-address-cells = <0x2>;
                #ranges-size-cells = <0x2>;

                microblaze_riscv_0: cpu@0 {
                        phandle = <0x25>;
                        reg = <0x0>;
                        d-cache-size = <0x8000>;
                        clock-frequency = <0x5f5e100>;
                        compatible = "xlnx,microblaze-riscv-1.0", "amd,mbv64", "riscv", "xlnx,microblaze_riscv";
                        device_type = "cpu";
                        clocks = <&clk_cpu_0>;
                        bootph-all;
                        riscv,isa = "rv64imafdc";
                        mmu-type = "riscv,sv39";
                        riscv,isa-base = "rv64i";
                        riscv,isa-extensions = "i", "a", "m", "zba", "zbb", "zbc", "zbs";

                        cpu0_intc: interrupt-controller {
                                phandle = <0x22>;
                                compatible = "riscv,cpu-intc";
                                interrupt-controller;
                                #interrupt-cells = <0x1>;
                        };
                };
        };

        clock: clocks {
                phandle = <0x26>;
                #address-cells = <0x1>;
                #size-cells = <0x0>;

                clk_cpu_0: clk_cpu@0 {
                        phandle = <0x21>;
                        compatible = "fixed-clock";
                        reg = <0x0>;
                        clock-frequency = <0x5f5e100>;
                        clock-output-names = "clk_cpu";
                        #clock-cells = <0x0>;
                };

                clk_bus_0: clk_bus_0@1 {
                        phandle = <0x23>;
                        compatible = "fixed-clock";
                        reg = <0x1>;
                        clock-frequency = <0x5f5e100>;
                        clock-output-names = "clk_bus_0";
                        #clock-cells = <0x0>;
                };
        };

        amba_pl: amba_pl {
                phandle = <0x20>;
                ranges;
                compatible = "simple-bus";
                #address-cells = <0x2>;
                #size-cells = <0x2>;
                bootph-all;

                microblaze_riscv_0_axi_intc: interrupt-controller@41200000 {
                        phandle = <0x1d>;
                        #interrupt-cells = <0x2>;
                        interrupts-extended = <&cpu0_intc 0x9>;
                        xlnx,sense-of-irq-edge-type = "Rising";
                        xlnx,edk-special = "INTR_CTRL";
                        xlnx,kind-of-intr = <0x1c>;
                        xlnx,kind-of-edge = <0xffffffff>;
                        xlnx,irq-is-level = <0x1>;
                        xlnx,has-ivr = <0x1>;
                        compatible = "xlnx,axi-intc-4.1", "xlnx,xps-intc-1.00.a";
                        xlnx,disable-synchronizers = <0x1>;
                        xlnx,kind-of-lvl = <0xffffffff>;
                        xlnx,ivar-reset-value = <0x10>;
                        xlnx,irq-active = <0x1>;
                        xlnx,en-cascade-mode = <0x0>;
                        xlnx,ip-name = "axi_intc";
                        xlnx,has-ilr = <0x0>;
                        reg = <0x0 0x41200000 0x0 0x10000>;
                        xlnx,addr-width = <0x27>;
                        xlnx,s-axi-aclk-freq-mhz = "100.0";
                        xlnx,num-sw-intr = <0x0>;
                        xlnx,irq-connection = <0x0>;
                        xlnx,num-intr-inputs = <0x5>;
                        xlnx,has-sie = <0x1>;
                        xlnx,enable-async = <0x0>;
                        xlnx,has-cie = <0x1>;
                        xlnx,num-sync-ff = <0x2>;
                        xlnx,edk-iptype = "PERIPHERAL";
                        xlnx,mb-clk-not-connected = <0x1>;
                        xlnx,has-ipr = <0x1>;
                        xlnx,sense-of-irq-level-type = "Active_High";
                        xlnx,cascade-master = <0x0>;
                        xlnx,processor-clk-freq-mhz = "100.0";
                        status = "okay";
                        xlnx,is-fast = <0x1>;
                        xlnx,has-fast = <0x1>;
                        xlnx,ivar-rst-val = <0x10>;
                        interrupt-controller;
                        xlnx,async-intr = <0xffffffe0>;
                };

                axi_gpio_0: gpio@40000000 {
                        phandle = <0x17>;
                        xlnx,gpio-board-interface = "dip_switches_8bits";
                        compatible = "xlnx,axi-gpio-2.0", "xlnx,xps-gpio-1.00.a";
                        xlnx,all-outputs = <0x0>;
                        #gpio-cells = <0x2>;
                        xlnx,gpio-width = <0x8>;
                        clock-frequency = <0x5f5e100>;
                        xlnx,dout-default = <0x0>;
                        xlnx,is-dual = <0x1>;
                        xlnx,ip-name = "axi_gpio";
                        xlnx,tri-default-2 = <0xffffffff>;
                        reg = <0x0 0x40000000 0x0 0x10000>;
                        xlnx,all-inputs-2 = <0x0>;
                        clocks = <&clk_bus_0>;
                        xlnx,all-outputs-2 = <0x1>;
                        gpio-controller;
                        device_type = "gpio";
                        xlnx,interrupt-present = <0x0>;
                        xlnx,gpio2-board-interface = "led_8bits";
                        xlnx,edk-iptype = "PERIPHERAL";
                        xlnx,dout-default-2 = <0x0>;
                        status = "okay";
                        xlnx,gpio2-width = <0x8>;
                        clock-names = "s_axi_aclk";
                        xlnx,use-board-flow;
                        xlnx,tri-default = <0xffffffff>;
                        xlnx,all-inputs = <0x1>;
                };

                axi_gpio_1: gpio@40010000 {
                        phandle = <0x18>;
                        xlnx,gpio-board-interface = "push_buttons_5bits";
                        compatible = "xlnx,axi-gpio-2.0", "xlnx,xps-gpio-1.00.a";
                        xlnx,all-outputs = <0x0>;
                        #gpio-cells = <0x2>;
                        xlnx,gpio-width = <0x5>;
                        clock-frequency = <0x5f5e100>;
                        xlnx,dout-default = <0x0>;
                        xlnx,is-dual = <0x0>;
                        xlnx,ip-name = "axi_gpio";
                        xlnx,tri-default-2 = <0xffffffff>;
                        reg = <0x0 0x40010000 0x0 0x10000>;
                        xlnx,all-inputs-2 = <0x0>;
                        clocks = <&clk_bus_0>;
                        xlnx,all-outputs-2 = <0x0>;
                        gpio-controller;
                        device_type = "gpio";
                        xlnx,interrupt-present = <0x0>;
                        xlnx,gpio2-board-interface = "Custom";
                        xlnx,edk-iptype = "PERIPHERAL";
                        xlnx,dout-default-2 = <0x0>;
                        status = "okay";
                        xlnx,gpio2-width = <0x20>;
                        clock-names = "s_axi_aclk";
                        xlnx,use-board-flow;
                        xlnx,tri-default = <0xffffffff>;
                        xlnx,all-inputs = <0x1>;
                };

                axi_iic_0: i2c@40800000 {
                        phandle = <0x1c>;
                        interrupts = <0x1 0x2>;
                        xlnx,iic-freq-khz = <0x64>;
                        compatible = "xlnx,axi-iic-2.1", "xlnx,xps-iic-2.00.a";
                        xlnx,scl-inertial-delay = <0x0>;
                        clock-frequency = <0x5f5e100>;
                        interrupt-parent = <&microblaze_riscv_0_axi_intc>;
                        xlnx,ip-name = "axi_iic";
                        xlnx,disable-setup-violation-check = <0x0>;
                        reg = <0x0 0x40800000 0x0 0x10000>;
                        clocks = <&clk_bus_0>;
                        xlnx,gpo-width = <0x1>;
                        xlnx,s-axi-aclk-freq-hz = <0x5f5e100>;
                        xlnx,edk-iptype = "PERIPHERAL";
                        xlnx,static-timing-reg-width = <0x0>;
                        xlnx,sda-level = <0x1>;
                        status = "okay";
                        xlnx,use-board-flow;
                        xlnx,ten-bit-adr = <0x0>;
                        xlnx,default-value = <0x0>;
                        interrupt-names = "iic2intc_irpt";
                        xlnx,iic-board-interface = "iic";
                        xlnx,timing-reg-width = <0x20>;
                        xlnx,iic-freq = <0x186a0>;
                        xlnx,smbus-pmbus-host = <0x0>;
                        xlnx,axi-aclk-freq-mhz = "100.0";
                        xlnx,sda-inertial-delay = <0x0>;
                };

                axi_timer_0: timer@41c00000 {
                        phandle = <0x1e>;
                        interrupts = <0x0 0x2>;
                        compatible = "xlnx,axi-timer-2.0", "xlnx,xps-timer-1.00.a";
                        xlnx,gen1-assert = <0x1>;
                        clock-frequency = <0x5f5e100>;
                        xlnx,trig0-assert = <0x1>;
                        interrupt-parent = <&microblaze_riscv_0_axi_intc>;
                        xlnx,count-width = <0x20>;
                        xlnx,ip-name = "axi_timer";
                        xlnx,one-timer-only = <0x0>;
                        reg = <0x0 0x41c00000 0x0 0x10000>;
                        clocks = <&clk_bus_0>;
                        xlnx,gen0-assert = <0x1>;
                        xlnx,mode-64bit = <0x0>;
                        xlnx,edk-iptype = "PERIPHERAL";
                        status = "okay";
                        xlnx,trig1-assert = <0x1>;
                        xlnx,enable-timer2 = <0x1>;
                        interrupt-names = "interrupt";
                };

                axi_uartlite_0: serial@40600000 {
                        phandle = <0x19>;
                        interrupts = <0x2 0x0>;
                        compatible = "xlnx,axi-uartlite-2.0", "xlnx,xps-uartlite-1.00.a";
                        clock-frequency = <0x5f5e100>;
                        port-number = <0x0>;
                        xlnx,uartlite-board-interface = "uartb";
                        xlnx,s-axi-aclk-freq-hz-d = "100.0";
                        interrupt-parent = <&microblaze_riscv_0_axi_intc>;
                        xlnx,ip-name = "axi_uartlite";
                        reg = <0x0 0x40600000 0x0 0x10000>;
                        xlnx,baudrate = <0x1c200>;
                        clocks = <&clk_bus_0>;
                        current-speed = <0x1c200>;
                        device_type = "serial";
                        xlnx,use-parity = <0x0>;
                        xlnx,edk-iptype = "PERIPHERAL";
                        xlnx,odd-parity = <0x0>;
                        status = "okay";
                        xlnx,use-board-flow;
                        interrupt-names = "interrupt";
                        xlnx,data-bits = <0x8>;
                        xlnx,parity = "No_Parity";
                        bootph-all;
                };

                axi_uartlite_1: serial@40610000 {
                        phandle = <0x1a>;
                        interrupts = <0x3 0x0>;
                        compatible = "xlnx,axi-uartlite-2.0", "xlnx,xps-uartlite-1.00.a";
                        clock-frequency = <0x5f5e100>;
                        port-number = <0x0>;
                        xlnx,uartlite-board-interface = "uartc";
                        xlnx,s-axi-aclk-freq-hz-d = "100.0";
                        interrupt-parent = <&microblaze_riscv_0_axi_intc>;
                        xlnx,ip-name = "axi_uartlite";
                        reg = <0x0 0x40610000 0x0 0x10000>;
                        xlnx,baudrate = <0x1c200>;
                        clocks = <&clk_bus_0>;
                        current-speed = <0x1c200>;
                        device_type = "serial";
                        xlnx,use-parity = <0x0>;
                        xlnx,edk-iptype = "PERIPHERAL";
                        xlnx,odd-parity = <0x0>;
                        status = "okay";
                        xlnx,use-board-flow;
                        interrupt-names = "interrupt";
                        xlnx,data-bits = <0x8>;
                        xlnx,parity = "No_Parity";
                        bootph-all;
                };

                axi_uartlite_2: serial@40620000 {
                        phandle = <0x1b>;
                        interrupts = <0x4 0x0>;
                        compatible = "xlnx,axi-uartlite-2.0", "xlnx,xps-uartlite-1.00.a";
                        clock-frequency = <0x5f5e100>;
                        port-number = <0x0>;
                        xlnx,uartlite-board-interface = "uart0";
                        xlnx,s-axi-aclk-freq-hz-d = "100.0";
                        interrupt-parent = <&microblaze_riscv_0_axi_intc>;
                        xlnx,ip-name = "axi_uartlite";
                        reg = <0x0 0x40620000 0x0 0x10000>;
                        xlnx,baudrate = <0x1c200>;
                        clocks = <&clk_bus_0>;
                        current-speed = <0x1c200>;
                        device_type = "serial";
                        xlnx,use-parity = <0x0>;
                        xlnx,edk-iptype = "PERIPHERAL";
                        xlnx,odd-parity = <0x0>;
                        status = "okay";
                        xlnx,use-board-flow;
                        interrupt-names = "interrupt";
                        xlnx,data-bits = <0x8>;
                        xlnx,parity = "No_Parity";
                        bootph-all;
                };

                lpddrmc_0: lpddrmc@80000000 {
                        phandle = <0x1f>;
                        xlnx,trppb-derate = <0x4da3>;
                        xlnx,tmrw = <0x2710>;
                        xlnx,tdq7lck = <0x15fc>;
                        xlnx,s0-axi-wuser-width = <0x8>;
                        xlnx,s1-axi-wuser-width = <0x8>;
                        xlnx,lpddrmc-s0-axi-parity = "None";
                        xlnx,trrd = <0xea8>;
                        xlnx,trbtp = <0xea4>;
                        xlnx,lpddrmc-axi-id-width = <0x1>;
                        xlnx,lpddr-user-defined-address-map = "15RA-2BA-2BG-6CA";
                        xlnx,row-width = <0xf>;
                        xlnx,lp4-cke-width = <0x0>;
                        xlnx,lp4-tosco = <0x0>;
                        xlnx,tccd-s = <0x2>;
                        xlnx,rl = <0xc>;
                        xlnx,lp4-txcbt-middle = <0x0>;
                        xlnx,wdqs-off = <0x0>;
                        xlnx,ip-name = "lpddrmc";
                        xlnx,lp4-dq-width = <0x0>;
                        xlnx,lp5-ca-width = <0x7>;
                        xlnx,lpddrmc-clkoutphy-divide = "VCO_DMC";
                        xlnx,lp5-wck-width = <0x4>;
                        xlnx,ba-width = <0x2>;
                        reg = <0x0 0x80000000 0x0 0x40000000 0x0 0xc0000000 0x0 0x40000000>;
                        xlnx,todton-min = <0x5dc>;
                        xlnx,lpddrmc-axi-data-width = <0x100>;
                        xlnx,lpddrmc-aclk0-freq = "100.000";
                        xlnx,tccdmw = <0x10>;
                        xlnx,lp4-dqs-width = <0x0>;
                        xlnx,ilc-max-size = "1820M";
                        xlnx,sysclk-board-interface = "default_sysclk1_lpddrmc";
                        xlnx,nrtp = <0x0>;
                        xlnx,lpddrmc-tg-0-csv = "no_file_loaded";
                        xlnx,lpddr-address-map = "NA,NA,NA,NA,NA,NA,NA,NA,NA,RA14,RA13,RA12,RA11,RA10,RA9,RA8,RA7,RA6,RA5,RA4,RA3,RA2,RA1,RA0,BA1,BA0,BG1,BG0,CA5,CA4,CA3,CA2,CA1,CA0,NC,NC,NC,NC,NA,NA";
                        xlnx,txcbt = <0x3d090>;
                        xlnx,trcd-wr-derate = <0x0>;
                        xlnx,lp5-dmi-width = <0x4>;
                        xlnx,s0-axi-aruser-width = <0xb>;
                        xlnx,lp5-reset-width = <0x1>;
                        xlnx,data-width = <0x20>;
                        xlnx,bank-arch = "BG";
                        xlnx,lp4-txcbt-long = <0x0>;
                        xlnx,tmrri-derate = <0x5c4b>;
                        xlnx,periodic-read = "ENABLE";
                        xlnx,lp5-twtr-l = <0x2ee0>;
                        xlnx,ilc-size = "1820M";
                        xlnx,lp5-dq-width = <0x20>;
                        xlnx,lpddr-pre-def-addr-map = "ROW_BANK_COLUMN";
                        xlnx,lpddrmc-divclk-divide = <0x1>;
                        compatible = "xlnx,lpddrmc-1.0";
                        xlnx,lp5-tpdecsodtoff = <0x2e64>;
                        xlnx,lpddrmc-clkfbout-mult = <0x4>;
                        xlnx,lp4-tescke = <0x0>;
                        xlnx,lp5-tdq7hck = <0x15fc>;
                        xlnx,twckpre-toggle-wr = <0x2>;
                        xlnx,burst-width = <0x4>;
                        xlnx,twckenl-fs = <0x1>;
                        xlnx,memory-density = "2GB";
                        xlnx,trcd-derate = <0x4da3>;
                        xlnx,tckprecs = <0x2a00>;
                        xlnx,s1-axi-aruser-width = <0xb>;
                        xlnx,lp5-twtr-s = <0x1d50>;
                        xlnx,lp4-txcbt-short = <0x0>;
                        xlnx,odtlon = <0x3>;
                        xlnx,speed-grade = "LPDDR5X-8533";
                        xlnx,memory-size = <0x80000000>;
                        xlnx,twckpre-toggle-rd = <0x6>;
                        xlnx,col-width = <0x6>;
                        xlnx,lp4-dq-per-ch-width = <0x0>;
                        xlnx,lp5-tdq7hwck = <0x15fc>;
                        xlnx,wl-set = "A";
                        xlnx,trfmab = <0x33450>;
                        xlnx,tdqs = <0x1d5>;
                        xlnx,lpddrmc-s1-axi-parity = "None";
                        xlnx,twr = <0x84d0>;
                        xlnx,trdqstfe = <0x88b8>;
                        xlnx,toscpd = <0x9c40>;
                        xlnx,lpddr4-board-interface = "Custom";
                        xlnx,system-clock = "Differential";
                        xlnx,lpddrmc-s1-axi-en;
                        xlnx,lpddr5-board-interface = "lpddr5_sdram";
                        status = "okay";
                        xlnx,lp5-tosco-dqi = <0x9c40>;
                        xlnx,trtp = <0x1d4c>;
                        xlnx,tck = <0x754>;
                        xlnx,s1-axi-datawidth = <0x100>;
                        xlnx,lp5-tcslck = <0x15fc>;
                        xlnx,trcd-wr = <0x0>;
                        xlnx,s0-axi-awuser-width = <0xb>;
                        xlnx,txp = <0x1b58>;
                        xlnx,operating-temp = "STANDARD";
                        xlnx,dram-size = "8Gb";
                        xlnx,ilc-offset = "0M";
                        xlnx,lp4-tcke = <0x0>;
                        xlnx,twckpre-static = <0x3>;
                        xlnx,lpddrmc-temp-dir-delete;
                        xlnx,lpddrmc-s0-axi-en;
                        xlnx,lpddrmc-pll-clkout0-freq = <0xf267 0x135a9177>;
                        xlnx,trrd-derate = <0x15fb>;
                        xlnx,lp4-tckelck = <0x0>;
                        xlnx,twlwckoff = <0x36b0>;
                        xlnx,twldqoff = <0x36b0>;
                        xlnx,rl-set0 = <0xc>;
                        xlnx,lpddrmc-pinargs = "CONTROLLERTYPE , LPDDR5_SDRAM , SPEED_GRADE , LPDDR5X-8533 , DATA_WIDTH , 32 , LP4_DQS_WIDTH , 0 , LP5_RDQS_WIDTH , 4 , LP4_DMI_WIDTH , 0 , LP5_DMI_WIDTH , 4 , LP4_CA_WIDTH , 0 , LP5_CA_WIDTH , 7 , ROW_WIDTH , 15 , COL_WIDTH , 6 , BA_WIDTH , 2 , BG_WIDTH , 2 , LP5_CK_WIDTH , 1 , LP5_WCK_WIDTH , 4 , LP4_CK_WIDTH , 0 , LP4_CKE_WIDTH , 0 , LP5_CS_WIDTH , 2 , LP4_CS_WIDTH , 0 , DM_EN , true , SYSTEM_CLOCK , Differential , LP5_DQ_WIDTH , 32 , LP4_DQ_WIDTH , 0 , LP5_RESET_WIDTH , 1 , LP4_RESET_WIDTH , 0 , LPDDRMC_CONFIG_NUM , config6 , WR_DBI , false , RD_DBI , false , LP4_DQ_PER_CH_WIDTH , 0";
                        xlnx,lp5-tosco-dqo = <0x9c40>;
                        xlnx,rl-set1 = <0xd>;
                        xlnx,lp4-ck-width = <0x0>;
                        xlnx,twck-int = <0x61a8>;
                        xlnx,rl-set2 = <0xe>;
                        xlnx,dm-en;
                        xlnx,tcbtrtw = <0x4e20>;
                        xlnx,lpddrmc-reg-adec0 = <0x8>;
                        xlnx,tras-derate = <0xab63>;
                        xlnx,s1-axi-awuser-width = <0xb>;
                        xlnx,lpddrmc-reg-adec1 = <0x8>;
                        xlnx,edk-iptype = "PERIPHERAL";
                        xlnx,lp5-tcbtwckpre-static = <0x4e20>;
                        xlnx,s0-axi-ruser-width = <0x8>;
                        xlnx,lpddrmc-tg-1-csv = "no_file_loaded";
                        xlnx,lpddrmc-reg-adec2 = <0x0>;
                        xlnx,lp4-reset-width = <0x0>;
                        xlnx,twckenl-wr = <0x2>;
                        xlnx,s1-axi-ruser-width = <0x8>;
                        xlnx,lpddrmc-reg-adec3 = <0x0>;
                        xlnx,controllertype = "LPDDR5_SDRAM";
                        xlnx,bg-width = <0x2>;
                        xlnx,tmrd = <0x36b0>;
                        xlnx,tckpstcs = <0x1d4c>;
                        xlnx,scrub-size = <0x1>;
                        xlnx,trdqstfx = <0x88b8>;
                        xlnx,lp4-cs-width = <0x0>;
                        xlnx,wdqs-on = <0x0>;
                        xlnx,twlo-max = <0x4e20>;
                        xlnx,s0-axi-datawidth = <0x100>;
                        xlnx,lpddrmc-clkout2-divide = <0x2>;
                        xlnx,lp5-ck-width = <0x1>;
                        xlnx,tzqreset = <0xc350>;
                        xlnx,twlmrd = <0x36b0>;
                        xlnx,trfcab = <0x33450>;
                        xlnx,trefi = <0x3b99d0>;
                        xlnx,tfaw = <0x3a98>;
                        xlnx,lpddrmc-aclk1-freq = "100.000";
                        xlnx,lpddr-freq-sel = "SYS_CLK_FROM_MEMORY_CLK";
                        xlnx,inputclk0-period = <0xea8>;
                        xlnx,wl = <0x6>;
                        xlnx,trpab-derate = <0x595b>;
                        xlnx,mc-op-tck = <0x4e2>;
                        xlnx,lp5-tpdn = <0x2e64>;
                        xlnx,lp5-tcspd = <0x2e64>;
                        xlnx,sys-clk-inputclk0-period = <0x4e2>;
                        xlnx,lp5-twck2dq7h = <0x15fc>;
                        xlnx,lpddrmc-vco-freq = <0x3f8b651f>;
                        xlnx,lpddrmc-config-num = "config6";
                        xlnx,nwr = <0x13>;
                        xlnx,tzqlat = <0x7530>;
                        xlnx,lpddrmc-clkout1-divide = <0x6>;
                        xlnx,twtr = <0x0>;
                        xlnx,twck2ck = <0xeb>;
                        xlnx,tsr = <0x3a98>;
                        xlnx,trpab = <0x5208>;
                        xlnx,trfcpb = <0x1d4c0>;
                        xlnx,tdq7lwck = <0x15fc>;
                        xlnx,lp5-cs-width = <0x2>;
                        xlnx,tras = <0xa410>;
                        xlnx,user-xsdb-intf-en;
                        xlnx,user-refresh = "DISABLE";
                        xlnx,lp4-dmi-width = <0x0>;
                        xlnx,lp5-tmrwpd = <0x36b0>;
                        xlnx,trcd = <0x4650>;
                        xlnx,tmrr = <0x4>;
                        xlnx,lp5-rdqs-width = <0x4>;
                        xlnx,tmrri = <0x54f8>;
                        xlnx,tdhtrain = <0x15fc>;
                        xlnx,tccd = <0x0>;
                        xlnx,nrbtp = <0x2>;
                        xlnx,lp4-ca-width = <0x0>;
                        xlnx,tccd-l = <0x4>;
                        xlnx,lpddrmc-clkout0-divide = <0x4>;
                        xlnx,trppb = <0x4650>;
                        xlnx,txsr = <0x3519c>;
                        xlnx,tdstrain = <0x15fc>;
                };

                pmcbridge_0_ccu_apb_0: pmcbridge_0_ccu_apb_0@4130000 {
                        phandle = <0x14>;
                        compatible = "xlnx,ccu-apb-11.0";
                        status = "okay";
                        xlnx,ip-name = "ccu_apb";
                        reg = <0x0 0x4130000 0x0 0x10000>;
                };

                pmcbridge_0_ccu_rd_stream_0: pmcbridge_0_ccu_rd_stream_0@4060000 {
                        phandle = <0x9>;
                        compatible = "xlnx,ccu-rd-stream-11.0";
                        status = "okay";
                        xlnx,ip-name = "ccu_rd_stream";
                        reg = <0x0 0x4060000 0x0 0x10000>;
                };

                pmcbridge_0_ccu_wr_stream_0: pmcbridge_0_ccu_wr_stream_0@4070000 {
                        phandle = <0xa>;
                        compatible = "xlnx,ccu-wr-stream-11.0";
                        status = "okay";
                        xlnx,ip-name = "ccu_wr_stream";
                        reg = <0x0 0x4070000 0x0 0x10000>;
                };

                pmcbridge_0_plm_config_0: pmcbridge_0_plm_config_0@4028000 {
                        phandle = <0x4>;
                        compatible = "xlnx,plm-config-11.0";
                        status = "okay";
                        xlnx,ip-name = "plm_config";
                        reg = <0x0 0x4028000 0x0 0x8000>;
                };

                pmcbridge_0_pmcl_dma_0: pmcbridge_0_pmcl_dma_0@40e0000 {
                        phandle = <0xf>;
                        compatible = "xlnx,pmcl-dma-11.0", "xlnx,pmc-dma";
                        status = "okay";
                        xlnx,ip-name = "pmcl_dma";
                        reg = <0x0 0x40e0000 0x0 0x10000>;
                        xlnx,dma-type = <0x1>;
                };

                pmcbridge_0_pmcl_ecdsa_rsa_0: pmcbridge_0_pmcl_ecdsa_rsa_0@4140000 {
                        phandle = <0x15>;
                        compatible = "xlnx,pmcl-ecdsa-rsa-11.0";
                        status = "okay";
                        xlnx,ip-name = "pmcl_ecdsa_rsa";
                        reg = <0x0 0x4140000 0x0 0x10000>;
                };

                pmcbridge_0_pmcl_efuse_0: pmcbridge_0_pmcl_efuse_0@4160000 {
                        phandle = <0x16>;
                        compatible = "xlnx,pmcl-efuse-11.0";
                        status = "okay";
                        xlnx,ip-name = "pmcl_efuse";
                        reg = <0x0 0x4160000 0x0 0x10000>;
                };

                pmcbridge_0_pmcl_global_0: pmcbridge_0_pmcl_global_0@40a0000 {
                        phandle = <0xd>;
                        compatible = "xlnx,pmcl-global-11.0";
                        status = "okay";
                        xlnx,ip-name = "pmcl_global";
                        reg = <0x0 0x40a0000 0x0 0x20000>;
                };

                pmcbridge_0_pmcl_ospi_0: pmcbridge_0_pmcl_ospi_0@4090000 {
                        phandle = <0xc>;
                        is-stacked = <0x0>;
                        compatible = "xlnx,pmc-ospi-11.0", "xlnx,pmc-ospi";
                        status = "okay";
                        xlnx,ip-name = "pmc_ospi";
                        reg = <0x0 0x4090000 0x0 0x10000>;
                        is-dual = <0x0>;
                };

                pmcbridge_0_pmcl_puf_0: pmcbridge_0_pmcl_puf_0@4080000 {
                        phandle = <0xb>;
                        compatible = "xlnx,pmcl-puf-11.0";
                        status = "okay";
                        xlnx,ip-name = "pmcl_puf";
                        reg = <0x0 0x4080000 0x0 0x10000>;
                };

                pmcbridge_0_pmcl_sha3_0: pmcbridge_0_pmcl_sha3_0@4100000 {
                        phandle = <0x11>;
                        compatible = "xlnx,pmcl-sha3-11.0";
                        status = "okay";
                        xlnx,ip-name = "pmcl_sha3";
                        reg = <0x0 0x4100000 0x0 0x10000>;
                };

                pmcbridge_0_pmcl_slave_boot_0: pmcbridge_0_pmcl_slave_boot_0@4110000 {
                        phandle = <0x12>;
                        compatible = "xlnx,pmcl-slave-boot-11.0";
                        status = "okay";
                        xlnx,ip-name = "pmcl_slave_boot";
                        reg = <0x0 0x4110000 0x0 0x10000>;
                };

                pmcbridge_0_pmcl_tap_0: pmcbridge_0_pmcl_tap_0@40c0000 {
                        phandle = <0xe>;
                        compatible = "xlnx,pmcl-tap-11.0";
                        status = "okay";
                        xlnx,ip-name = "pmcl_tap";
                        reg = <0x0 0x40c0000 0x0 0x20000>;
                };

                pmcbridge_0_pmcl_trng_0: pmcbridge_0_pmcl_trng_0@4120000 {
                        phandle = <0x13>;
                        compatible = "xlnx,pmcl-trng-11.0";
                        status = "okay";
                        xlnx,ip-name = "pmcl_trng";
                        reg = <0x0 0x4120000 0x0 0x10000>;
                };

                pmcbridge_0_pmcl_aes_0: pmcbridge_0_pmcl_aes_0@40f0000 {
                        phandle = <0x10>;
                        compatible = "xlnx,pmcl-aes-11.0";
                        status = "okay";
                        xlnx,ip-name = "pmcl_aes";
                        reg = <0x0 0x40f0000 0x0 0x10000>;
                };

                pmcbridge_0_rv_iomodule_0: pmcbridge_0_rv_iomodule_0@4040000 {
                        phandle = <0x5>;
                        compatible = "xlnx,rv-iomodule-11.0";
                        status = "okay";
                        xlnx,ip-name = "rv_iomodule";
                        reg = <0x0 0x4040000 0x0 0x1000>;
                };

                pmcbridge_0_rv_ram_data_ecc_ctrl_0: pmcbridge_0_rv_ram_data_ecc_ctrl_0@4042000 {
                        phandle = <0x7>;
                        compatible = "xlnx,rv-ram-data-ecc-ctrl-11.0";
                        status = "okay";
                        xlnx,ip-name = "rv_ram_data_ecc_ctrl";
                        reg = <0x0 0x4042000 0x0 0x1000>;
                };

                pmcbridge_0_rv_ram_instr_ecc_ctrl_0: pmcbridge_0_rv_ram_instr_ecc_ctrl_0@4041000 {
                        phandle = <0x6>;
                        compatible = "xlnx,rv-ram-instr-ecc-ctrl-11.0";
                        status = "okay";
                        xlnx,ip-name = "rv_ram_instr_ecc_ctrl";
                        reg = <0x0 0x4041000 0x0 0x1000>;
                };

                pmcbridge_0_slave_boot_stream_0: pmcbridge_0_slave_boot_stream_0@4050000 {
                        phandle = <0x8>;
                        compatible = "xlnx,slave-boot-stream-11.0";
                        status = "okay";
                        xlnx,ip-name = "slave_boot_stream";
                        reg = <0x0 0x4050000 0x0 0x10000>;
                };
        };

        lpddrmc_0_ddr_memory: memory@80000000 {
                phandle = <0x1>;
                compatible = "xlnx,lpddrmc-1.0";
                xlnx,ip-name = "lpddrmc";
                device_type = "memory";
                reg = <0x0 0x80000000 0x0 0x80000000>;
                memory_type = "memory";
        };

        microblaze_riscv_0_local_memory_dlmb_bram_if_cntlr_memory: sram@0 {
                phandle = <0x2>;
                ranges = <0x0 0x0 0x0 0x0 0x20000>;
                compatible = "xlnx,lmb-bram-if-cntlr-4.0", "mmio-sram";
                #address-cells = <0x2>;
                xlnx,ip-name = "lmb_bram_if_cntlr";
                #size-cells = <0x2>;
                memory_type = "memory";
                reg = <0x0 0x0 0x0 0x20000>;
        };

        chosen {
                stdout-path = "serial0:115200n8";
        };

        aliases {
                serial0 = "/amba_pl/serial@40600000";
                spi0 = "/amba_pl/pmcbridge_0_pmcl_ospi_0@4090000";
                serial1 = "/amba_pl/serial@40610000";
                serial2 = "/amba_pl/serial@40620000";
                i2c0 = "/amba_pl/i2c@40800000";
        };

        __symbols__ {
                cpus_microblaze_riscv_0 = "/cpus_microblaze_riscv@0";
                microblaze_riscv_0 = "/cpus_microblaze_riscv@0/cpu@0";
                cpu0_intc = "/cpus_microblaze_riscv@0/cpu@0/interrupt-controller";
                clock = "/clocks";
                clk_cpu_0 = "/clocks/clk_cpu@0";
                clk_bus_0 = "/clocks/clk_bus_0@1";
                amba_pl = "/amba_pl";
                microblaze_riscv_0_axi_intc = "/amba_pl/interrupt-controller@41200000";
                axi_gpio_0 = "/amba_pl/gpio@40000000";
                axi_gpio_1 = "/amba_pl/gpio@40010000";
                axi_iic_0 = "/amba_pl/i2c@40800000";
                axi_timer_0 = "/amba_pl/timer@41c00000";
                axi_uartlite_0 = "/amba_pl/serial@40600000";
                axi_uartlite_1 = "/amba_pl/serial@40610000";
                axi_uartlite_2 = "/amba_pl/serial@40620000";
                lpddrmc_0 = "/amba_pl/lpddrmc@80000000";
                pmcbridge_0_ccu_apb_0 = "/amba_pl/pmcbridge_0_ccu_apb_0@4130000";
                pmcbridge_0_ccu_rd_stream_0 = "/amba_pl/pmcbridge_0_ccu_rd_stream_0@4060000";
                pmcbridge_0_ccu_wr_stream_0 = "/amba_pl/pmcbridge_0_ccu_wr_stream_0@4070000";
                pmcbridge_0_plm_config_0 = "/amba_pl/pmcbridge_0_plm_config_0@4028000";
                pmcbridge_0_pmcl_dma_0 = "/amba_pl/pmcbridge_0_pmcl_dma_0@40e0000";
                pmcbridge_0_pmcl_ecdsa_rsa_0 = "/amba_pl/pmcbridge_0_pmcl_ecdsa_rsa_0@4140000";
                pmcbridge_0_pmcl_efuse_0 = "/amba_pl/pmcbridge_0_pmcl_efuse_0@4160000";
                pmcbridge_0_pmcl_global_0 = "/amba_pl/pmcbridge_0_pmcl_global_0@40a0000";
                pmcbridge_0_pmcl_ospi_0 = "/amba_pl/pmcbridge_0_pmcl_ospi_0@4090000";
                pmcbridge_0_pmcl_puf_0 = "/amba_pl/pmcbridge_0_pmcl_puf_0@4080000";
                pmcbridge_0_pmcl_sha3_0 = "/amba_pl/pmcbridge_0_pmcl_sha3_0@4100000";
                pmcbridge_0_pmcl_slave_boot_0 = "/amba_pl/pmcbridge_0_pmcl_slave_boot_0@4110000";
                pmcbridge_0_pmcl_tap_0 = "/amba_pl/pmcbridge_0_pmcl_tap_0@40c0000";
                pmcbridge_0_pmcl_trng_0 = "/amba_pl/pmcbridge_0_pmcl_trng_0@4120000";
                pmcbridge_0_pmcl_aes_0 = "/amba_pl/pmcbridge_0_pmcl_aes_0@40f0000";
                pmcbridge_0_rv_iomodule_0 = "/amba_pl/pmcbridge_0_rv_iomodule_0@4040000";
                pmcbridge_0_rv_ram_data_ecc_ctrl_0 = "/amba_pl/pmcbridge_0_rv_ram_data_ecc_ctrl_0@4042000";
                pmcbridge_0_rv_ram_instr_ecc_ctrl_0 = "/amba_pl/pmcbridge_0_rv_ram_instr_ecc_ctrl_0@4041000";
                pmcbridge_0_slave_boot_stream_0 = "/amba_pl/pmcbridge_0_slave_boot_stream_0@4050000";
                lpddrmc_0_ddr_memory = "/memory@80000000";
                microblaze_riscv_0_local_memory_dlmb_bram_if_cntlr_memory = "/memory@0";
        };
};
